{% extends "halaman/base.html" %}
{% load static %}
{% block content %}
    <div class="page-header header-filter header-small" data-parallax="true" style="background-image: url('{% static 'halaman/assets/img/bg9.jpg' %}');">
		<div class="container">
    		<div class="row">
        		<div class="col-md-8 col-md-offset-2">
                    <h1 class="title">About Us</h1>
                        <h4>Selamat datang di website JensuBerita, terakurat dan terpercaya</h4>
                </div>
            </div>
        </div>
	</div>

	<div class="main main-raised">
		<div class="container">
            <div class="about-description text-center">
                <div class="row">
    				<div class="col-md-8 col-md-offset-2">
    					<h5 class="description">Halo, pembaca setia dan pengunjung baru! Kami sangat senang menyambut Anda di JensuBerita, sumber terpercaya untuk berita terkini, analisis mendalam, dan informasi yang relevan. Di sini, kami berkomitmen untuk memberikan Anda berita terbaru dari seluruh penjuru dunia dengan cepat, akurat, dan menyeluruh.</h5>
    				</div>
    			</div>
            </div>
            <div class="about-team team-1">
    			<div class="row">
    				<div class="col-md-8 col-md-offset-2 text-center">
    					<h2 class="title">Moto</h2>
    					<h5 class="description">Bergabunglah dengan Komunitas Kami, Kami tidak hanya ingin menjadi sumber informasi Anda, tetapi juga tempat di mana Anda dapat berdiskusi, berbagi opini, dan terhubung dengan sesama pembaca. Jangan ragu untuk bergabung dalam diskusi di kolom komentar, mengikuti kami di media sosial, dan berlangganan newsletter kami untuk mendapatkan berita terbaru langsung ke inbox Anda.</h5>
    				</div>
    			</div>

    			<div class="row">
    				<div class="col-md-3">
    					<div class="card card-profile card-plain">
    						<div class="card-avatar">
    							<a href="#pablo">
    								<img class="img" src="{% static 'halaman/assets/img/faces/LID.jpg' %}" /></a>
    						</div>

    						<div class="card-content">
    							<h4 class="card-title">Lidya Natasha</h4>
    							<h6 class="category text-muted">Dcoding Pintar Indonesia</h6>

    							<p class="card-description">
    								Mahasiswi Universitas Muhammadiyah Kalimantan Timur
									Semester IV
									Angkatan 2022
    							</p>
    							<div class="footer">
    								<a href="#pablo" class="btn btn-just-icon btn-simple btn-twitter"><i class="fa fa-twitter"></i></a>
    								<a href="#pablo" class="btn btn-just-icon btn-simple btn-facebook"><i class="fa fa-facebook-square"></i></a>
    								<a href="#pablo" class="btn btn-just-icon btn-simple btn-google"><i class="fa fa-google"></i></a>
    							</div>
    						</div>
    					</div>
    				</div>
    			</div>
            </div>
        </div>
    </div>
{% endblock content %}